API_PROVIDER=groq

# Ollama Config (Opsional jika pakai Groq)
OLLAMA_HOST=http://127.0.0.1:11434
OLLAMA_MODEL=llama3

# Groq Config
GROQ_API_KEY=your_groq_api_key_here
GROQ_API_KEY_2=your_second_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile

# AI Identity
AI_NAME=Evelyn
MASTER_PHONE=6288289873949

# Server Config
PORT=8000
FRONTEND_URL=https://lab.somniac.me
