API_PROVIDER=llm7

# Ollama Config (Opsional jika pakai LLM7)
OLLAMA_HOST=http://127.0.0.1:11434
OLLAMA_MODEL=llama3

# LLM7 Config
LLM7_API_KEY=your_llm7_api_key_here
LLM7_API_KEY_2=your_second_llm7_api_key_here
LLM7_MODEL=default

# AI Identity
AI_NAME=Evelyn
MASTER_PHONE=6288289873949

# Server Config
PORT=8000
FRONTEND_URL=https://lab.somniac.me
